.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 7rem;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}

.res-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.shimmer-card {
    width: 200px;
    height: 300px;
    padding: 5px;
    background-color: lightgray;
}

.res-card {
    width: 200px;
    padding: 5px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px  solid black;
}

.filter {
    display: flex;
    gap: 0.5rem;
    padding: 10px 0;
}

.search {

}

.res-logo {
    width: 100%;
}

.cuisines {
    word-wrap: break-word;
}

.user-card {
    border: 1px solid black;
    padding: 0.5rem;
}

.count-container {
    display: flex;
    gap: 0.5rem;
}